%section#hero.hero-section.hero-layout-simple.hero-fullscreen.section.section-dark
  .section-background
    / IMAGE BACKGROUND
    .section-background-image.parallax{"data-stellar-ratio" => "0.4"}
      %img{:alt => "", :src => "/assets/team.jpg", :style => "opacity: 0.5;"}/

  .container
    .hero-content
      .hero-content-inner
        .row
          .col-md-10.col-md-offset-1
            .hero-heading.text-center{"data-animation" => "fadeIn"}
              %h1.hero-title You're All Set
              %p.hero-tagline
                Look out for an email from us in the next 24 hours
                %br
