.first-name {
  width: 48%;
  float: left;
}

.last-name {
  width: 48%;
  float: right;
}

.email-address {
  clear: both;
  width: 48%;
  float: left;
}

.phone-number {
  width: 48%;
  float: right;
}

.phone-type {
  margin-bottom: 25px;
}

.region {
  margin-bottom: 25px;
}
