#funnel-chart {
  // height: 250px;
  width: 50%;
  background: lightgray;
  margin-bottom: 20px;
}
#funnels-table {
  padding: 20px;
}

#hero-funnel {
  padding-top: 60px;
}

#svg-div {
  width: 500px;
  height: 200px;
}
