
-# FOOTER
%section#footer.footer-section.section
  .container
    %h3.footer-logo
      %img{:alt => "instacart", :src => "https://d2nkqaulr5muje.cloudfront.net/assets/beetstrap/brand/instacart-logo-color@2x-9b5e0948b142bc55387c61ae4e7a6628b4b75be1e554321ee5e0a1f0b69727b0.png", :srcset => "images/logos/footer-logo@2x.png 2x"}/
    .footer-socmed
      %a{:href => "#", :target => "_blank"}
        %span.fa.fa-facebook
      %a{:href => "#", :target => "_blank"}
        %span.fa.fa-twitter
      %a{:href => "#", :target => "_blank"}
        %span.fa.fa-instagram
      %a{:href => "#", :target => "_blank"}
        %span.fa.fa-pinterest
    .footer-copyright
      © 2016 instacart
