-# HEADER
%header#header.header-section.section.section-dark.navbar.navbar-fixed-top
  .container-fluid
    .navbar-header.navbar-left
      / RESPONSIVE MENU BUTTON
      %button.navbar-toggle{"data-target" => "#navigation", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      / HEADER LOGO
      %a.navbar-logo.navbar-brand.anchor-link{:href => "#hero"}
        %img{:alt => "Drew", :src => "https://d2nkqaulr5muje.cloudfront.net/assets/beetstrap/brand/instacart-logo-color@2x-9b5e0948b142bc55387c61ae4e7a6628b4b75be1e554321ee5e0a1f0b69727b0.png", :srcset => "images/logos/header-logo@2x.png 2x"}/
    %nav#navigation.navigation.navbar-collapse.collapse.navbar-right
      / NAVIGATION LINKS
      %ul#header-nav.nav.navbar-nav
        %li
          %a.hidden{:href => "#hero"} Top
        %li
          %a{:href => "#about"} About
        %li
          %a{:href => "#benefits"} Benefits
        %li
          %a{:href => "#how-it-works"} How it Works
